@import url("https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #000; */
}

/* GLOBAL */

body {
  background-image: url("../images/trail.png");
  background-size: cover;
}

button {
  width: 30%;
  background-color: rgb(163, 227, 26);
  border-radius: 8px;
}

button div a {
  align-items: center;
}

button a {
  font-family: "Mukta Vaani", sans-serif;
  font-weight: 600;
  font-size: 28px;
  text-decoration: none;
  color: rgba(50, 56, 24, 0.8);
}

button:hover {
  background-color: rgb(167, 215, 61);
  /* margin-bottom: 2px; */
}

/* HEADER */
header {
  padding: 0 44px 0 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title a {
  text-align: center;
  font-family: "Mukta Vaani", sans-serif;
  font-weight: 800;
  font-size: 104px;
  text-decoration: none;
  letter-spacing: -0.05em;
  color: white;
}

.title {
  text-align: center;
  font-family: "Mukta Vaani", sans-serif;
  font-weight: 800;
  font-size: 5em;
  color: #edf0f1;
  text-decoration: none;
  letter-spacing: -0.05em;
}

/* NAV */
nav {
  margin: 0 32px 0 0;
  align-items: center;
  width: 100%;
  display: flex;
}

.nav-item {
  padding: 0 8px 0 8px;
  margin: 0 auto;
  font-family: "Mukta Vaani";
  font-weight: 300;
  font-size: 20px;
  color: #edf0f1;
  text-align: center;
  text-decoration: none;
}

.nav-item:hover {
  color: rgba(201, 243, 16, 0.8);
  margin-bottom: 2px;
}
/* END OF NAV */

.go-to-app {
  width: 192px;
}
/* END OF HEADER */

/* CENTRE OF HERO */
.home-page-title {
  text-align: center;
  margin-top: 144px;
  font-family: "Mukta Vaani", sans-serif;
  font-weight: 800;
  font-size: 5em;
  color: #edf0f1;
  text-decoration: none;
  animation: 2s ease-out 0s 1 fadeIn;
}

/* BUTTONS */

/* TEXT */

p {
  font-family: "Mukta Vaani", sans-serif;
  font-weight: 300;
  font-size: 44px;
  color: #edf0f1;
  text-decoration: none;
  text-align: center;
}

/* END OF HERO */

span {
  width: 100%;
}

.mode-description {
  font-size: 1.62vw;
}
