@import url("https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 
.main {
  display: block;
  justify-content: space-between;
} */

:root {
  --main-bg-color: white;
  --main-text-color: black;
  /* --blue-1: ; */
  --divider: #b9b9b9;
  --main-font: "Helvetica Neue";
  --main-gradient: linear-gradient(
    90deg,
    rgba(31, 90, 112, 1) 0%,
    rgba(70, 125, 171, 1) 35%,
    rgba(81, 179, 242, 1) 100%
  );
  --bottom-shadow: linear-gradient(
    90deg,
    rgba(181, 233, 17, 1) 0%,
    rgba(83, 83, 83, 0) 100%
  );

  --off-white: #efefef;
  /* --top-shadow: ; */
}

/* GLOBAL */

body {
  /* margin: 0px; */
  background-color: gray;
}

button {
  width: 30%;
  background-color: rgb(163, 227, 26);
  border-radius: 8px;
}

button div a {
  align-items: center;
}

button a {
  font-family: "Mukta Vaani", sans-serif;
  font-weight: 600;
  font-size: 1.5vw;
  text-decoration: none;
  color: rgba(50, 56, 24, 0.8);
}

button:hover {
  background-color: rgb(167, 215, 61);
  /* margin-bottom: 2px; */
}

/* HEADER */
header {
  padding: 0 44px 0 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 a {
  text-align: center;
  font-family: "Mukta Vaani", sans-serif;
  font-weight: 800;
  font-size: 5vw;
  text-decoration: none;
  letter-spacing: -0.05em;
  color: white;
}

/* NAV */
nav {
  margin: 0 32px 0;
  align-items: center;
  width: 100%;
  display: flex;
}

.nav-item {
  padding: 0 8px 0 8px;
  margin: 0 auto;
  font-family: "Mukta Vaani";
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.62vw;
  color: #edf0f1;
  text-align: center;
  text-decoration: none;
}

.nav-item:hover {
  color: rgba(201, 243, 16, 0.8);
  margin-bottom: 2px;
}
/* END OF NAV */

.go-to-app {
  width: 192px;
}
/* END OF HEADER */

/* CENTRE OF HERO */
.home-page-title {
  text-align: center;
  font-family: "Mukta Vaani", sans-serif;
  font-weight: 800;
  font-size: 5em;
  color: #edf0f1;
  text-decoration: none;
  animation: 2s ease-out 0s 1 fadeIn;
}

.page-title {
  text-align: center;
  margin-top: 64px;
  font-family: "Mukta Vaani", sans-serif;
  font-weight: 800;
  font-size: 5em;
  color: #edf0f1;
  text-decoration: none;
  animation: 2s ease-out 0s 1 fadeIn;
}
/* BUTTONS */

/* END OF HERO */

/* GAME MODES */

.game-modes article {
  justify-content: space-around;
}

.mode-title {
  margin-top: 24px;
  text-align: center;
  font-family: "Mukta Vaani", sans-serif;
  font-weight: 500;
  font-size: 5em;
  color: #edf0f1;
  text-decoration: none;
}

.mode-description {
  font-size: 1.62vw;
}

.game-mode p {
  font-family: "Mukta Vaani", sans-serif;
  font-weight: 300;
  font-size: 44px;
  color: #edf0f1;
  text-decoration: none;
  text-align: center;
  flex: wrap;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero h2 {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: "Mukta Vaani", sans-serif;
  font-size: 4vw;
  line-height: 5vw;
  font-weight: 500;
  color: #fff;
  text-shadow: 0 0 2px #2f3604, 0 0 42px #c5e31a, 0 0 4px #c5e31a,
    0 0 24px rgb(90, 120, 20), 0 0 8px #c5e31a, 0 0 8px #61700b;
  /* text-shadow: 0px 0px #ff0000; */
}
.hero img {
  height: 590px;
  width: 590px;
  border: 4px #edf0f1 solid;
}

.game-modes {
  /* box-shadow: 0 -8px 16px 16px #ffffff; */
  background: #fbffde;
  display: flex;
  flex-direction: column;
  height: 400px;
}

.game-modes h3 {
}

.header-hero {
  padding-bottom: 64px;
  background-image: url("../images/trail.png");
  background-position: center;
}

.hero-section {
  /* box-shadow: 0 8px 8px 0px #cbe91162; */
}

.hl {
  height: 24px;
  background: linear-gradient(180deg, #cbe911 0%, rgba(255, 255, 255, 0) 100%);
}
